.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
  width: 100%;
}

.item {
  background: lightgray;
  border-radius: 10px;
}

.item.active {
  background: greenyellow;
}

.item.selected {
  background: lightblue;
}

.item.selected.active {
  background: mediumturquoise;
}
