<div class="container">
  <app-channel-sequence
    class="channel-sequence"
    src="assets/kick-classic.wav"
    [beat]="sequence.beats$ | async"
  ></app-channel-sequence>
  <app-channel-sequence
    class="channel-sequence"
    src="assets/clap-808.wav"
    [beat]="sequence.beats$ | async"
  ></app-channel-sequence>
  <app-channel-sequence
    class="channel-sequence"
    src="assets/hihat-808.wav"
    [beat]="sequence.beats$ | async"
  ></app-channel-sequence>
  <app-channel-sequence
    class="channel-sequence"
    src="assets/snare-808.wav"
    [beat]="sequence.beats$ | async"
  ></app-channel-sequence>
</div>
