.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(16, 1fr);
  height: 100%;
  width: 100%;
}

.item {
  background: lightcyan;
  border-radius: 10px;
}

.item.odd-bar {
  background: lavender;
}

.item.active {
  background: greenyellow;
}

.item.selected {
  background: mediumspringgreen;
}

.item.selected.active {
  background: mediumturquoise;
}
